<p id="notice"><%= notice %></p>

<h1>Listing Pearls</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pearls.each do |pearl| %>
      <tr>
        <td><%= pearl.quote %></td>
        <td><%= pearl.author %></td>
        <td><%= link_to 'Show', pearl %></td>
        <td><%= link_to 'Edit', edit_pearl_path(pearl) %></td>
        <td><%= link_to 'Destroy', pearl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pearl', new_pearl_path %>
