<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @pearl.quote %>
</p>

<p>
  <strong>Author:</strong>
  <%= @pearl.author %>
</p>

<%= link_to 'Edit', edit_pearl_path(@pearl) %> |
<%= link_to 'Back', pearls_path %>
